<div class="section" id="what-kind-of-changes-are-made">
    <h3>
        <a class="toc-backref" href="#id12">What kind of changes are made?</a>
    </h3>
    <p>
        The janitor currently proposes changes that can be made by the <a class="reference external"
    href="https://salsa.debian.org/jelmer/lintian-brush">lintian-brush</a> tool. This includes fixes for the following issues flagged by lintian:
    </p>
    <ul class="simple">
        {% for fixer in lintian_brush.available_lintian_fixers() %}
            {% for tag in fixer.lintian_tags %}<li>{{ lintian_tag_link(tag) }}</li>{% endfor %}
        {% endfor %}
    </ul>
</div>
