<div class="section"
     id="would-it-be-possible-to-run-the-debian-janitor-on-the-ubuntu-archive">
    <h3>
        <a class="toc-backref" href="#id18">Would it be possible to run the Debian Janitor on the Ubuntu archive?</a>
    </h3>
    <p>
        The Debian Janitor already supports creating merge proposals for Ubuntu
        packaging branches on Launchpad. However, there is currently no easy mechanism
        for these merge proposals to be merged from the web UI and they do not yet appear on the
        <a class="reference external"
           href="https://reqorts.qa.ubuntu.com/reports/sponsoring/index.html">Sponsoring Overview page</a>.
    </p>
</div>
