<div class="section" id="how-do-i-run-the-fixers-locally">
    <h3>
        <a class="toc-backref" href="#id16">How do I run the fixers locally?</a>
    </h3>
    <p>
        To run the collection of fixer scripts on a locally checked out package, simply run <em>lintian-brush</em>:
    </p>
    <div class="highlight-default">
        <div class="highlight">
            <pre><span></span>$ apt install lintian-brush
$ lintian-brush
</pre>
        </div>
        <p>This will report the fixers that were run and automatically commit the changes to the local repository.</p>
    </div>
</div>
