<p>
    The packaging branch
    {% if vcs_url %} at ({{ vcs_url }}){% endif %}
    can not be
    reached.
</p>
<p>This problem may be intermittent, e.g. if the hosting site is temporarily down.</p>
<p>
    If the repository has moved, please update the <i>Vcs-*</i> headers
    in the package and upload a new version.
</p>
<p>
    You can also update the Vcs locations on <a href="https://qa.debian.org/cgi-bin/vcswatch?{%- if run -%}package={{ package.name }}{%- endif -%}">vcswatch</a>.
</p>
