{% extends "layout.html" %}
{% block sidebar %}
    {% include "cupboard/sidebar.html" %}
{% endblock sidebar %}
{% block page_title %}
    Package list by maintainer
{% endblock page_title %}
{% block body %}
    <div class="section" id="package-list-by-maintainer">
        <h1>Packages by Maintainer</h1>
        {% for maintainer, packages in by_maintainer.items() %}
            <h2>{{ maintainer }}</h2>
            <ul>
                {% for package in packages %}
                    <li>
                        <a href="pkg/{{ package }}">{{ package }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock body %}
