<div class="section" id="how-do-i-download-just-the-diff">
    <h3>
        <a class="toc-backref" href="#id20">How do I download the diff for a package?</a>
    </h3>
    <p>
        There is a well-formed URL that can be used to download the diff for a specific package, if a diff has been generated:
    </p>
    <pre>{{ url.join(URL('../api/' + SUITE + '/pkg/PACKAGE/diff')) }}</pre>
    <p>
        E.g. for gunicorn, the URL would be <a href="{{ url.join(URL('../api/' + SUITE + '/pkg/gunicorn/diff')) }}">{{ url.join(URL('../api/' + SUITE + '/pkg/gunicorn/diff')) }}</a>.
    </p>
</div>
