<div class="section" id="i-dont-find-this-useful-how-do-i-stop-it">
    <h3>
        <a class="toc-backref" href="#id8">I don’t find this useful. How do I stop it?</a>
    </h3>
    <p>
        If you ignore or close the first merge proposal, there won't be any more for
        the same maintainer.
    </p>
    <p>
        You can also just comment on the merge proposal that you don't want any
        automated merge proposals.
    </p>
    <p>
        It would be great if you can also give us an idea of what
        specifically you don’t appreciate about these merge proposals, and if
        there’s anything that can be done to improve them.
    </p>
    <p>
        Alternatively, propose a change to the <a class="reference"
    href="https://salsa.debian.org/janitor-team/janitor.debian.net/blob/master/policy.conf">policy</a> on Salsa.
    </p>
</div>
