<div class="section" id="what-repositories-are-supported">
    <h3>
        <a class="toc-backref" href="#id11">What repositories are supported?</a>
    </h3>
    <p>Repositories on the following hosting platforms are supported:</p>
    <ul class="simple">
        <li>
            <a class="reference external" href="https://www.gitlab.com/">GitLab</a> (currently supported instances: <a class="reference external" href="https://gitlab.com/">GitLab.com</a>, <a class="reference external" href="https://salsa.debian.org/">salsa.debian.org</a>)
        </li>
        <li>
            <a class="reference external" href="https://github.com/">GitHub</a>
        </li>
        <li>
            <a class="reference external" href="https://launchpad.net/">Launchpad</a> (both <a class="reference external" href="https://bazaar-vcs.org/">Bazaar</a> and <a class="reference external" href="https://git-scm.com/">Git</a> repositories)
        </li>
    </ul>
    <p>
        Work is under way to also support Mercurial. Subversion support may
        also be an option, though I have yet to work out what the equivalent of
        pull requests in Subversion would be.
    </p>
</div>
