{% extends "plain-layout.html" %}
{% block page_title %}
    Contact
{% endblock page_title %}
{% block body %}
    <div class="section" id="the-debian-janitor">
        <h1>The Debian Janitor</h1>
        <p>
            The Debian janitor is a project to automatically make changes to Debian
            packages.
        </p>
        <p>
            It finds VCS repositories associated with packages in the Debian archive, runs a
            set of predefined operations on them, builds the resulting package and then
            publishes the result (both as a VCS repository and as a Debian package).
        </p>
        <p>
            The overall goal is to reduce the manual effort that is needed
            to maintain a Debian package, allowing maintainers to just click <em>Merge</em>
            in a web UI and allowing users to try out newer upstream versions of packages
            without the involvement of the maintainer.
        </p>
        <ul>
                <li>
                    <a href="lintian-fixes">Fixes for common issues reported by Lintian</a>
                </li>
                <li>
                    <a href="multiarch-fixes">Application of multi-arch hints</a>
                </li>
                <li>
                    <a href="orphan">Moving orphaned packages to the QA team</a>
                </li>
                <li>
                    <a href="fresh">Fresh releases and snapshots:</a>
                    <ul>
                            <li>
                                <a href="fresh-releases">Packages of new upstream releases</a>
                            </li>
                            <li>
                                <a href="fresh-snapshots">Packages of new upstream snapshots</a>
                            </li>
                    </ul>
                </li>
                <li>
                    <a href="scrub-obsolete">Scrubbing of obsolete dependencies and configuration file entries</a>
                </li>
                <li>
                    <a href="mia">Removal of MIA maintainers from the uploaders field</a>
                </li>
                <li>
                    <a href="uncommitted">Importing of uploads missing from the VCS</a>
                </li>
		<li>
			Automatic backporting of packages:
			<ul>
				<li><a href="bullseye-backports">from testing to bullseye (stable)</a></li>
				<!--<li><a href="bookworm-backports">from testing to bookworm (stable)</a></li> -->
			</ul>
		</li>
        </ul>
    </div>
    <p>
        For janitor internal status details, see the <a href="cupboard">cupboard</a>.
    </p>
{% endblock body %}
