{% extends "layout.html" %}
{% from "run_util.html" import display_result_code %}
{% block sidebar %}
    {% include "cupboard/sidebar.html" %}
{% endblock sidebar %}
{% block page_title %}
    Maintainer Overview
{% endblock page_title %}
{% block body %}
    <div class="section" id="maintainer-overview">
        <h1>Maintainer Overview - {{ maintainer }}</h1>
        {% if remaining_open_mps or max_open_mps %}
            <h2>Rate-limiting</h2>
            <p>Remaining open merge proposals: {{ remaining_open_mps }} (max is {{ max_open_mps }})</p>
        {% endif %}
        {% if review_stats %}
        <h2>Reviews</h2>
        <p>
        Latest reviews:
        </p>
        <table>
                <thead>
                        <td>Codebase</td>
                        <td>Verdict</td>
                </thead>
		<tbody>
        {% for review in review_latest %}
			<tr>
				<td><a href="/{{ review.campaign }}/pkg/{{ review.package }}/{{ review.run_id }}">{{ review.package }} / {{ review.campaign }}</a></td><td>{{ review.verdict }}</td>
			</tr>
	{% endfor %}
		</tbody>
        </table>

	<p>Statistics:</p>

	<table>
		<thead><td>Verdict</td><td>Count</td></thead>
		<tbody>
			{% for verdict, count in review_stats %}
			<tr><td>{{ verdict }}</td><td>{{ count }}</td></tr>
			{% endfor %}
		</tbody>
        </table>

        {% endif %}
        {% if proposals %}
        <h2>Merge Proposals</h2>
        <h3>Open Merge Proposals</h3>
        <ul>
            {% for proposal in proposals %}
                {% if proposal.status == 'open' %}
                    <li>
                        <a href="{{ proposal.url }}">{{ proposal.package }}</a> (<a href="/cupboard/merge-proposal?url={{ proposal.url|urlencode }}">Info</a>)
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <h3>Resolved Merge Proposals</h3>
        <ul>
            {% for proposal in proposals %}
                {% if proposal.status != 'open' %}
                    <li>
                        <a href="{{ proposal.url }}">{{ proposal.package }}</a> (<a href="/cupboard/merge-proposal?url={{ proposal.url|urlencode }}">{{ proposal.status }}</a>)
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <h2>Candidates</h2>
        <ul>
            {% for candidate in candidates %}
                {% if candidate.suite != 'unchanged' %}
                    <li>
                        <a href="/cupboard/c/{{ candidate.codebase }}">{{ candidate.codebase }} ({{ candidate.suite }})</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <h2>Historical Runs</h2>
        <ul>
            {% for run in runs %}
                <li>
                    <a class="reference external"
                       href="/cupboard/c/{{ run.codebase }}/{{ run.id }}/">{{ format_timestamp(run.finish_time) }} {{ run.codebase }}: {{ run.command }}</a>: {{ display_result_code(run.result_code) }}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock body %}
