<div class="section" id="how-do-i-run-the-fixers-locally">
    <h3>
        <a class="toc-backref" href="#id21">How do I run debianize locally?</a>
    </h3>
    <p>
        Debianize is packaged in the <a href="https://packages.debian.org/lintian-brush">lintian-brush</a> package
        on Debian.
    </p>
    <p>Once installed, just run it in a git checkout of the upstream repository.</p>
</div>
