{% if result['entries'] and result['entries'][0]['site'] %}Update watch file based on {{ result['entries'][0]['site'] }}{% else %}Update watch file{% endif %}

With the updated watch file, all recent previous upstream releases could be
located:

<ul>
{% for version, details in codemod['entries'][0]['releases'].items() %}
<li><a href="{{ details['url'] }}">{{ version }}</a></li>
{% endfor %}
</ul>
