{% extends "layout.html" %}
{% block sidebar %}
    {% if not campaign %}
        {% include "cupboard/sidebar.html" %}
    {% else %}
        {% include [campaign + "/sidebar.html", "generic/sidebar.html"] %}
    {% endif %}
{% endblock sidebar %}
{% block page_title %}
    Changes that have been merged or pushed
    {% if campaign %}- {{ campaign }}{% endif %}
{% endblock page_title %}
{% block body %}
    <div class="section" id="history">
        <h1>Changes that have been merged or pushed</h1>

        <form method="get" action="{{ url }}">
        <label for="start">Start date:</label>

        <input type="date" id="since" name="since"
               {% if since %}
               value="{{ since.date().isoformat() }}"
               {% elif oldest %}
               value="{{ oldest.date().isoformat() }}"
               {% endif %}
               {% if oldest %}
               min="{{ oldest.date().isoformat() }}"
               {% endif %}
               max="{{ utcnow().date().isoformat() }}"/>
        <input type="submit" value="Refresh"/>
        </form>

        {% set ns = namespace(last_date=None, run_date=None) %}
        <ul>
        {% for run in runs %}
            {% if run.absorbed_at %}{% set ns.run_date = run.absorbed_at.date().isoformat() %}{% else %}{% set ns.run_date = 'unknown' %}{% endif %}
            {% if ns.run_date != ns.last_date %}
                {% if ns.last_date %}</ul>{% endif %}
                {% set ns.last_date = ns.run_date %}
                <h2>{{ ns.last_date }}</h2>
                <ul>
            {% endif %}
                <li>
                    <a href="pkg/{{ run['package.name'] }}/{{ run.id }}">{{ run['package.name'] }}</a>
                    {% if run.merged_by %}
                    <em>(<a href="{{ run.merge_proposal_url }}">merged</a> by {% if run.merged_by_url %}<a href="{{ run.merged_by_url }}">{{ run.merged_by }}</a>{% else %}{{ run.merged_by }}{% endif %})</em>
                    {% else %}
                    <em>(pushed)</em>
                    {% endif %}
                    {% set command = run.command -%}
                    {% set result = run.result -%}
                    {% include [run.campaign + "/summary.html", "generic/summary.html"] %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
